/* Header */
.title {
  font-size: 2rem;
  font-weight: bolder;
  color: rebeccapurple;
  text-align: center;
}

/* Main. Savings */
.savings {
  text-align: center;
  margin: 32px;
}

.savings_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.savings_qty {
  font-size: 1.75rem;
  color: slateblue;
  font-weight: bolder;
}

/* Main. Income + expenses = balance */
.balance {
  background-color: lavender;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 25px 5px;
}

.balance > div {
  flex: 1;
}

.balance > div:first-of-type {
  border-right: 2px solid mediumslateblue;
}

.income_title,
.expenses_title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* Main. Operate/form */
.transactions_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 35px;
  padding: 10px 10px;
  border-bottom: 2px solid lavender;
}

.transactions {
  display: grid;
}

.concept,
.qty {
  padding: 8px 5px;
}

.transactions > input {
  border: 1px solid lavender;
  border-radius: 3px;
  padding: 8px;
}

input {
  color: mediumorchid;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-style: italic;
}

input::placeholder {
  color: thistle;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-style: italic;
}

input:focus {
  color: mediumorchid;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-style: italic;
  outline: none;
}

.instructions {
  color: silver;
  font-size: x-small;
  padding: 0 0 8px 5px;
}

.submit_btn {
  background-color: mediumslateblue;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 25px;
  width: 225px;
  justify-self: center;
}

/* Main. History */
.history_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 35px;
  padding: 10px 10px;
  border-bottom: 2px solid gainsboro;
}

/* Footer */
.footer {
  display: grid;
  justify-items: center;
}

.contact_msg {
  font-size: 12px;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.social_logo {
  height: 50px;
}
