/* Header */
.title {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

/* Main. Savings */
.savings {
  text-align: center;
  margin: 32px;
}

.savings_title {
  font-size: 18px;
  font-weight: bold;
}

/* Main. Income + expenses = balance */
.balance {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 25px;
}

.income_title,
.expenses_title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* Main. Operate/form */
.transactions_title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}

.transactions {
  display: grid;
}

.concept,
.qty {
  padding: 8px 5px;
}

.instructions {
  padding: 0 0 8px 5px;
  font-size: x-small;
}

.submit_btn {
  background-color: mediumslateblue;
  border: none;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 25px;
  width: 175px;
  justify-self: center;
}

/* Main. History */
.history_title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}

/* Footer */
.footer {
  display: grid;
  justify-items: center;
}

.contact_msg {
  font-size: 12px;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.social_logo {
  height: 50px;
}
